# <center>Complete_Python_Basic_To_Advance</center>

## String(PART 1)

### Basic_Level_1 :

In [ ]:
name = ' Akshay Singh '

In [ ]:
name[::-1]

' hgniS yahskA '

In [ ]:
for i in name:
    print(i, end ="")

 Akshay Singh

In [ ]:
len(name)

14

### upper() and lower()

In [ ]:
name.upper()

' AKSHAY SINGH '

In [ ]:
#actual string doesn't change 
name

' Akshay Singh '

In [ ]:
name.lower()

' akshay singh '

### strip()

Remove spaces at the beginning and at the end of the string

In [ ]:
name.strip()

'Akshay Singh'

In [ ]:
#but Actual string doesn't change due to immutable property
name

' Akshay Singh '

### replace()

In [ ]:
name1 = 'AAkashSinha'
name1.replace('A','a',1)

'aAkashSinha'

In [ ]:
#immutable property
name1

'AAkashSinha'

In [ ]:
name3 = name1 + ' Arora'
name3

'AAkashSinha Arora'

In [ ]:
name1 = name1+' arora'
name1
#doubt on immutability

'AAkashSinha arora'

* Here string is immutable but varaible is mutable, we haven't change string at all

### split()

In [ ]:
name3.split()

['AAkashSinha', 'Arora']

In [ ]:
print(name3[0: ])
print(name3[: -2 ])
print(name3[:: -1 ]) #step size 1
print(name3[:: -3 ]) # step size 3

AAkashSinha Arora
AAkashSinha Aro
arorA ahniShsakAA
araisA

In [ ]:
string1 = 'I love reading the technical books'

find( ) function returns the index value of the given data that is to found in the string. If it is not found it returns -1.

### Searching substring

* **find()**
* **index()**
* **not used widely private method str.__contains()__**

***find and index both return index value but a little bit difference way when substring not found***

### find()

In [ ]:
print(string1)
print(string1.find('reading'))# starting index
print(string1.find('tech'))
print(string1.find('beautiful'))# return -1 if not found

I love reading the technical books
7
19
-1

**One can also input find( ) function between which index values it has to search.**

In [ ]:
print(string1.find('love', 10)) #start searching from 10th index
print(string1.find('love', 2)) #start searching from 2nd index

-1
2

In [ ]:
#finding substring very effectively
'Good Morining'.find('Mo')

5

### index()

In [ ]:
print(string1)
print(string1.index('love'))

I love reading the technical books
2

In [ ]:
print(string1.index('love',1, 10)) #searching from 1 to 10(1 and 10 are inclusive)
#NOTE: index method will raise an error if sustring not found(difference of find() and index())

2

However we are looking for exact word here rather than substring

In [ ]:
#let say i'm looking for 'love' exact word
print(string1.find('lov'))
print(string1.find('love'))
#get the same result

2
2

**For the specific pattern regex is "The" best approach**

### join()

**join is used to convert list of item into a string.**

***NOTE: join( ) function is used add a char in between the elements of the input string.***
***also used for conversion from list to string(IMP)***

In [ ]:
list_string = list('akshay Singh is a good boy')
print(list_string)

['a', 'k', 's', 'h', 'a', 'y', ' ', 'S', 'i', 'n', 'g', 'h', ' ', 'i', 's', ' ', 'a', ' ', 'g', 'o', 'o', 'd', ' ', 'b', 'o', 'y']

In [ ]:
string_list = ''.join(list_string)
string_list

'akshay Singh is a good boy'

In [ ]:
print(type(string_list))

<class 'str'>

In [ ]:
print(string_list.replace('is a good boy', 'become a good boy'))# temporary changes
print(string_list) #immutable property

akshay Singh become a good boy
akshay Singh is a good boy

In [ ]:
#join is used to convert list of item into a string.
' '.join(['This','will','join','a','string','based','on','given','join','character'])

'This will join a string based on given join character'

In [ ]:
','.join(['This','will','join','a','string','based','on','given','join','character'])

'This,will,join,a,string,based,on,given,join,character'

In [ ]:
'-'.join(['This','will','join','a','string','based','on','given','join','character'])

'This-will-join-a-string-based-on-given-join-character'

### Basic_Level_2:

### isalpha()

In [ ]:
name = 'Akahaymanu123'
name.isalpha()# space not count as alphabates

False

In [ ]:
name2="Asgfdghiy"
name2.isalpha() #only alphabates -> NO

True

### isalnum()

In [ ]:
name.isalnum() #(alhabates "or" numeric)

True

In [ ]:
" Akshay   ".isalnum()# space must not involved

False

***NOTE: character is also a string in python.***

In [ ]:
#1
sent='Deep learning is the future'
list_words=sent.split()
print(list_words)

#2
temp=sent.split('i')
print(temp)

#NOTE: Split method returns "list" of words in string not containing the split character.

dumy=sent.partition('i')
print(dumy)

#NOTE: partition method returns "tuple" of words in string including the separator.

['Deep', 'learning', 'is', 'the', 'future']
['Deep learn', 'ng ', 's the future']
('Deep learn', 'i', 'ng is the future')

In [ ]:
#Practicle_Example_(1):
#Count number of alphabates in a string and return that string also


#CODE:
name4='Akahaymanu123'
print('string:', name4)
count_alp = 0
new_alp =''
for i in name4:
    if i.isalpha() == True:
        count_alp += 1
        new_alp += i
print('number of aplhabates: ', count_alp)
print('aplhabates string : ', new_alp)

string: Akahaymanu123
number of aplhabates:  10
aplhabates string :  Akahaymanu

### isspace()

In [ ]:
print("   ".isspace())#return true if all characters are space
print(" a  ".isspace())

True
False

In [ ]:
#Practicle_Example_(2):(
#Count number of spaces in a string
#CODE:
name="  Akshay Singh "
print('String :', name)
count_space = 0
for i in name:
    if i.isspace():
       count_space += 1
print("number of space:", count_space)

String :   Akshay Singh
number of space: 4

In [ ]:
#Practicle_Example_(3):
#Count number of words in a sentence

#code:
sent='Akshay learnt pyhton using jupyter notebook'
print(sent)
words_list=sent.split()#split takes default as space
print(len(words_list))

Akshay learnt pyhton using jupyter notebook
6

In [ ]:
#Practicle_Example_(4):
#Check Palindrome


#CODE(1):
string = '12321'
if string[0:] == string[ :: -1]:
    print('palindrome')
else:
    print("not palindrome")
    
    
#CODE(2):
str1 = ''
for i in string:
    str1 = i + str1   #reverse concatenation
if str1 == string:
    print('palindrome')
else:
    print("not palindrome")

palindrome
palindrome

In [ ]:
#Practicle_Example_(5):
#reverse a senetence but word doesn't reversed 


#CODE(3):
sent='Akshay learnt pyhton using jupyter notebook .'
print(sent)
rev_sent =''#empty string
words_list=sent.split()
words_list.reverse()
words_list.remove('.')
for i in words_list:
    rev_sent = rev_sent + i + ' '#append
    
print(rev_sent)

#2nd method
print('------2nd Way------')
words = sent.split()
words.reverse()
words.remove('.')
print(' '.join(words))

Akshay learnt pyhton using jupyter notebook .
notebook jupyter using pyhton learnt Akshay
------2nd Way------
notebook jupyter using pyhton learnt Akshay

In [ ]:
#Practicle_Example_(6):
#Count number of vowels and remove them


#CODE:
name="Unix operating system is best"
print(name)
Vowels = set('aeiouAEIOU')
name2 = ''
count_vow = 0
for i in name:
    if i in Vowels:
        count_vow += 1
    else:
        name2 += i 
print('Number of vowels: ', count_vow)
print(name2)

Unix operating system is best
Number of vowels:  9
nx prtng systm s bst

In [ ]:
#Practicle_Example_(7):
#count maximum word length


#CODE(1):
print(sent)
words_list=sent.split()
words_ = []
for i in words_list:
    words_.append(len(i))
print('max len word: ', max(words_))

#second more efficient method(2)
max_word=0
for i in words_list:
    if len(i) > max_word:
        max_word=len(i)
print(max_word)

Akshay learnt pyhton using jupyter notebook .
max len word:  8
8

## Data Structures in python

#### Tuple

In [ ]:
tup_num = tuple('12345612539864')
tup_num

('1', '2', '3', '4', '5', '6', '1', '2', '5', '3', '9', '8', '6', '4')

In [ ]:
t=(1,2,3)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3)

In [ ]:
#only one element, then is tuple
#(boundary case)
tup=("string")
type(tup)

str

#### only parenthesis not enough

In [ ]:
#need , (boundary case)
tupl=("string123",)
print(type(tupl))
print(tupl)

<class 'tuple'>
('string123',)

In [ ]:
#indexing within a nested tuple
tup=(2,('ram','shyam','pankaj'))
#inorder to get "shyam" in nested tuple
tup[1][1]

'shyam'

In [ ]:
#repeat a tuple for a given number of times
t=(("string",) *3)
t

('string', 'string', 'string')

### Count()

In [ ]:
print(tup_num)
tup_num.count('2')

('1', '2', '3', '4', '5', '6', '1', '2', '5', '3', '9', '8', '6', '4')

2

### min() and max() in tuple

In [ ]:
print(max(tup_num))
print(min(tup_num))

9
1

In [ ]:
#list_Conversion into tuple
print(words_list)
tup2 = tuple(words_list)
print(tup2)

['Akshay', 'learnt', 'pyhton', 'using', 'jupyter', 'notebook', '.']
('Akshay', 'learnt', 'pyhton', 'using', 'jupyter', 'notebook', '.')

In [ ]:
#string_Conversion into tuple
print('String :', name1)
tup3 = tuple(name1) 
print(tup3)

String : AAkashSinha
('A', 'A', 'k', 'a', 's', 'h', 'S', 'i', 'n', 'h', 'a')

In [ ]:
listP = [10,20,30]
listN = [-10,-20,-30]
tupP_N = (listP, listN)
tupP_N

([10, 20, 30], [-10, -20, -30])

In [ ]:
#nested access inside tuple
for i in tupP_N:
    for j in i:
        print(j,end=" ")
    print()

10 20 30
-10 -20 -30

### List_Concept

### Basic_Level_1:

In [ ]:
#Hetrogenuis elements in list
temp_list = [2,3,4,3,2,4,5,6,7,'@akshaySingh','@Ram']
temp_list

[2, 3, 4, 3, 2, 4, 5, 6, 7, '@akshaySingh', '@Ram']

### append

In [ ]:
#insert at end
temp_list.append('kashu')
print(temp_list)

[2, 3, 4, 3, 2, 4, 5, 6, 7, '@akshaySingh', '@Ram', 'kashu']

### insert

In [ ]:
#insert at specific position
temp_list.insert(4,90)
print(temp_list)

[2, 3, 4, 3, 90, 2, 4, 5, 6, 7, '@akshaySingh', '@Ram', 'kashu']

### remove

In [ ]:
#item which we want to remove
temp_list.remove(90) # removes takes item 
print(temp_list)

[2, 3, 4, 3, 2, 4, 5, 6, 7, '@akshaySingh', '@Ram', 'kashu']

### pop

In [ ]:
temp_list.pop() #remove from last 
print(temp_list)

#OR

temp_list.pop(0) #pop also takes index number
temp_list

[2, 3, 4, 3, 2, 4, 5, 6, 7, '@akshaySingh', '@Ram']

[3, 4, 3, 2, 4, 5, 6, 7, '@akshaySingh', '@Ram']

### reverse

In [ ]:
temp_list.reverse()
print(temp_list)

['@Ram', '@akshaySingh', 7, 6, 5, 4, 2, 3, 4, 3]

### count

In [ ]:
print(temp_list)
print(temp_list.count(3))

['@Ram', '@akshaySingh', 7, 6, 5, 4, 2, 3, 4, 3]
2

### sort

In [ ]:
temp_list.remove('@Ram')
temp_list.pop(0)

########

#permanent sort 
temp_list.sort()
temp_list

[2, 3, 3, 4, 4, 5, 6, 7]

### sorted

In [ ]:
#temorary sort
temp_list = [3,4,1,2,1,8,0,1,9]
print(sorted(temp_list)) 
print(temp_list)# Actual list doesn't change

[0, 1, 1, 1, 2, 3, 4, 8, 9]
[3, 4, 1, 2, 1, 8, 0, 1, 9]

### extend

In [ ]:
list_new = ['raju', 'ram', 'shyam', 'ramu']
temp_list.extend(list_new)
print(temp_list)

print('--see difference from append--')
temp_list.append(list_new)
print(temp_list)

[3, 4, 1, 2, 1, 8, 0, 1, 9, 'raju', 'ram', 'shyam', 'ramu']
--see difference from append--
[3, 4, 1, 2, 1, 8, 0, 1, 9, 'raju', 'ram', 'shyam', 'ramu', ['raju', 'ram', 'shyam', 'ramu']]

### list Slicing

In [ ]:
print(temp_list[0:])
print(temp_list[2:5]) # 5 is exclusive 
print(temp_list[:-2]) #-2 is exclusive
print(temp_list[-3:])
print(temp_list[::-1]) # -1 step
print(temp_list[::-3])
print(temp_list[3])

[3, 4, 1, 2, 1, 8, 0, 1, 9, 'raju', 'ram', 'shyam', 'ramu', ['raju', 'ram', 'shyam', 'ramu']]
[1, 2, 1]
[3, 4, 1, 2, 1, 8, 0, 1, 9, 'raju', 'ram', 'shyam']
['shyam', 'ramu', ['raju', 'ram', 'shyam', 'ramu']]
[['raju', 'ram', 'shyam', 'ramu'], 'ramu', 'shyam', 'ram', 'raju', 9, 1, 0, 8, 1, 2, 1, 4, 3]
[['raju', 'ram', 'shyam', 'ramu'], 'ram', 1, 1, 4]
2

### In operator in list iteration

In [ ]:
company_list = ['TCS', 'Infosys', 'Google', 'Flipkart', 'Accenture', 'Wipro','Deloitte']
print('Flipkart' in company_list)
print('twitter' not in company_list)
print('Mahindra' in company_list)

True
True
False

In [ ]:
tup1 = (1,2,3)
tup2 = (4,5,6)
lis_tup = [tup1, tup2]
print(lis_tup)

[(1, 2, 3), (4, 5, 6)]

In [ ]:
#access nested list 
for i in lis_tup:
    for j in i:
        print(j, end=" ")
    print()

1 2 3
4 5 6

### Comarison traditional vs Comrehension

In [ ]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
new=list()
new.append(l1)
new.append(l2)
new.append(l3)
print(new)

li=[]
for i in new:
  li.append(i[0])
print(li)

#OR(Using Comprehension)

li=[i[0] for i in new]
print(li)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 4, 7]
[1, 4, 7]

In [ ]:
#reversing only string list of element by place as well as there position

dumy=[1,2,3,4,5,6,7,8,['abc','def','xyz']]
temp=[]
for i in dumy:
  if type(i) == list:
      for s in i:
        temp.append(s[::-1])
temp[::-1]

['zyx', 'fed', 'cba']

### Basic_Level_2:

### max

In [ ]:
list1 = [2,3,4,1,2,3,9,8]
max(list1)

9

### len

In [ ]:
len(temp_list)

### sum

In [ ]:
sum(temp_list)

### Pyhton Advance Swapping

In [ ]:
#Practicle_Example_(1):
#Swapping inside list


#CODE (1):
print(temp_list)
pos1 = 0 
pos2 = 7
temp_list[pos1], temp_list[pos1] = temp_list[pos2], temp_list[pos2]
print(temp_list)


#CODE (2): Much appropriate way
temp = temp_list[3], temp_list[5]
temp_list[5], temp_list[3] = temp
print(temp_list)

[3, 4, 1, 2, 1, 8, 0, 1, 9, 'raju', 'ram', 'shyam', 'ramu', ['raju', 'ram', 'shyam', 'ramu']]
[1, 4, 1, 2, 1, 8, 0, 1, 9, 'raju', 'ram', 'shyam', 'ramu', ['raju', 'ram', 'shyam', 'ramu']]
[1, 4, 1, 8, 1, 2, 0, 1, 9, 'raju', 'ram', 'shyam', 'ramu', ['raju', 'ram', 'shyam', 'ramu']]

In [ ]:
#Practicle_Example_(2):
#Number of +ve and -ve elements are in the list


#CODE (1):
list1 = [-1, -2, -3, 4, 5, 6, 7]
listN = list(i for i in list1 if i < 0) #Comprehension Method(IMP.)
print(listN)
print('Number of +ve elements and -ve elements are: ',len(listN),'and',  len(list1) - len(listN))

#CODE (2):
listP = list(filter(lambda i: i > 0,list1))
print(listP)

In [ ]:
#Practicle_Example_(3):
#Number of even and odd elements in the list


#CODE:
list2 = [1,2,3,4,5,6,7,8,9]
evenList = list(filter(lambda i : i%2 == 0 , list2))
print(evenList)
print(len(evenList))

In [ ]:
#Practicle_Example_(4):
#Map method


#CODE:
map_list = list(map(lambda i : i*2, list2))
print(map_list)

### not in operator

In [ ]:
#Practicle_Example_(5):
#Removing Elements from known List
 
#CODE (1):
print(temp_list)
re_item = [3, 4]
for i in re_item:
    temp_list.remove(i) # basic method
print(temp_list)


#CODE (2):
list3 = [7, 3, 5, 4, 6, 7]
list_new = [i for i in list3 if i not in re_item ] # Comprehensive method 
print(list_new)

In [ ]:
#Practicle_Example_(5):
#Removing Duplicates (Using NOT IN operator)


#CODE:
Duplicates_list = [1,1,2,2,3,4,5,6,7,7,8,8,8,9,10]
dummy =[]
for i in Duplicates_list:
    if i not in dummy:
        dummy.append(i)
print(Duplicates_list)
print(dummy)
# CODE:
#using set
print(list(set(Duplicates_list)))

[1, 1, 2, 2, 3, 4, 5, 6, 7, 7, 8, 8, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Advance Concepts :-

* 1. difference between extend and append
* 2. append(): appends whole object at end

In [ ]:
a = [1,3,2,4]
a.append([5,6])
a

* extend: extends list by appending elements from the iterable:

In [ ]:
b = [10,30,20,40]
b.extend([50,60])
b

* Note this occurs in place! Meaning it affects your list permanently.

In [ ]:
b.reverse()
b

In [ ]:
b.sort()
b

### list comprehension

In [ ]:
sqr=[i**2 for i in range(2,11)]
sqr

In [ ]:
#define nested list as matrix
matrix=[
        [1,2,3,4],
        [5,6,7,8],
        [9,8,10,11]
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 8, 10, 11]]

In [ ]:
#transpose in pyhton as trditional ways
transpose=[]
for column in range(4):
  col=[]
  for row in matrix:
    col.append(row[column])
  transpose.append(col)

transpose

[[1, 5, 9], [2, 6, 8], [3, 7, 10], [4, 8, 11]]

* **why list comprehension**
    * **Pros: more effective and less line of code**
    * **Cons: readability of code may goes decrease**

In [ ]:
#using list comprehension 
tr=[[r[i] for r in matrix] for i in range(4)]
tr

[[1, 5, 9], [2, 6, 8], [3, 7, 10], [4, 8, 11]]

### conversion of list<->tuple<->set for use cases

In [ ]:
tup=(1,2,3,4,5,['Aks','Hay','is','Learn','Machine'],7,8,9)
tup

(1, 2, 3, 4, 5, ['Aks', 'Hay', 'is', 'Learn', 'Machine'], 7, 8, 9)

In [ ]:
#for the updation in tuple
lis=list(tup)
lis[2]=20
lis

[1, 2, 20, 4, 5, ['Aks', 'Hay', 'is', 'Learn', 'Machine'], 7, 8, 9]

In [ ]:
set1=set("123456789")
set1

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

**NOTE:**

In [ ]:
#slicing or scripting not allowed in sets due to unorderd property of sets
#but we can perforn scripting by using for loop i.e. set1[1] gives you an error 
for i in set1:
    print(i,end=" ")

* **Set may be  quite handy inoder to remove duplicates from list or tuple**

In [ ]:
#for duplicay
lis=list(set1)
print(lis)
lis.insert(3,12)
print(lis)

In [ ]:
dumySet={0,False,1,2,2,2,2,3,3,3,6,True,1}
dumySet
#false ==> 0 and True ==> 1

### Dictionary in Python :-

### creating a dictionary

In [ ]:
temp_dict = {"101AB": "Ramu",
         "100AC": "Raja",
             "111AU": "Shyam"
}
temp_dict

{'100AC': 'Raja', '101AB': 'Ramu', '111AU': 'Shyam'}

### Accessing elements

In [ ]:
temp_dict["101AB"]

'Ramu'

In [ ]:
temp_dict.get("100AC")

'Raja'

In [ ]:
#wrong key(generate bad error)
temp_dict['Cc']

KeyError: ignored

* in handle such situation we use **get** methods which works more precisely
* return None if key doesn't exist

In [ ]:
val=temp_dict.get('Cc')
print(True) if val == None else print(val)
#ternary operator in pyhton

True

### insertion or overwrite the key value

In [ ]:
temp_dict["111AU"] = "Rakesh"
temp_dict

### iteration over the dictinary

In [ ]:
print(temp_dict)
for i in temp_dict:
    print(i,": ", temp_dict[i])

### values()

In [ ]:
print(temp_dict.values())
for i in temp_dict.values():
    print(i)

### items()  
* return list of tuple with key-value pair

In [ ]:
print(temp_dict.items())
for i,j in temp_dict.items():
    print(i, j)

### Searching 'key' without iteration

In [ ]:
print('True') if '100AC' in temp_dict else print('False')

### Searching 'value' without iteration

In [ ]:
print('True') if 'Rakesh' in temp_dict.values() else print('False')

### len: 
* length of dictionary

In [ ]:
len(temp_dict)

In [ ]:
print(temp_dict)
temp_dict["101AQ"] = "Wahab" #insertion
temp_dict

### Remove Elements from Dictionary
* Popular methods are:
    * 1.pop() 
    * 2.popitems()

### pop 
* **Difference between list pop and dictionary pop**
    * in list pop takes one argument as index or also work for without argument but in dictionary it also takes  index but as a 'key'

In [ ]:
print(temp_dict)
temp_dict.pop("101AB")
temp_dict

{'101AB': 'Ramu', '100AC': 'Raja', '111AU': 'Shyam'}

{'100AC': 'Raja', '111AU': 'Shyam'}

### popitem

* Remove last key-value pair

In [ ]:
temp_dict.popitem()

NOTE: Use of del

In [ ]:
del temp_dict['100AC']
print(temp_dict)

{'111AU': 'Shyam'}

### clear

In [ ]:
temp_dict.clear()
print(temp_dict)
del temp_dict #permanently delete the dictionary variable

{}

In [ ]:
temp_dict = {"101AB": "Ramu",
         "100AC": "Raja",
             "111AU": "Shyam"
}
temp_dict

{'100AC': 'Raja', '101AB': 'Ramu', '111AU': 'Shyam'}

In [ ]:
temp_dict2 = {"10AB": "Ru",
         "100C": "Ra",
             "111U": "Shm"
}

### update
* use for concatination
* use for updating values of key
* use for extending dictionary

* **The update() method adds element(s) to the dictionary if the key is not in the dictionary. If the key is in the dictionary, it updates the key with the new value.** 
* **Update arguments:**
    * The update() method takes either a dictionary or an iterable object of key/value pairs**

In [ ]:
temp_dict.update(temp_dict2)
temp_dict

In [ ]:
#also the way of estension of dictionary
di={'e':8, 'f': 9 }
temp_dict.update(di)
print(temp_dict)

In [ ]:
#Updating key value
temp_dict.update(e=5)
temp_dict

### sorted
* takes list of value as input

In [ ]:
print(temp_dict)
print(sorted(temp_dict))
print(temp_dict.keys())

{'101AB': 'Ramu', '100AC': 'Raja', '111AU': 'Shyam'}
['100AC', '101AB', '111AU']
dict_keys(['101AB', '100AC', '111AU'])

In [ ]:
for i in sorted(temp_dict.values()):
    print(i, end=" ")

* **Use Cases**
    * one key with multiple values

In [ ]:
temp_di = {"101AB": ("Ramu", 32 , "Male"),
         "100AC": ("Raja", 31 , "Male"),
             "111AU": ("Shyam", 33 , "Male"),
           "101AQ": ("Radha" , 29, "Female")
}
temp_di

{'100AC': ('Raja', 31, 'Male'),
 '101AB': ('Ramu', 32, 'Male'),
 '101AQ': ('Radha', 29, 'Female'),
 '111AU': ('Shyam', 33, 'Male')}

In [ ]:
#return tuple 
temp_di["101AB"]

('Ramu', 32, 'Male')

In [ ]:
for i in temp_di["101AB"]:
    print(i)

In [ ]:
for i in temp_di:
    print(i,": ",end="")
    for j in temp_di[i]:
        print(j, end=" ")
    print()

101AB : Ramu 32 Male
100AC : Raja 31 Male
111AU : Shyam 33 Male
101AQ : Radha 29 Female

In [ ]:
dic = {'key1': 1 , 'key2': 2 , 'key3': 3}
sum(dic.values())

### Use of Zip 
* method returns a tuple where
* the i-th element comes from the i-th iterable argument.

In [ ]:
name = ['aakash', 'raju', 'madhav']
marks = [92, 89, 91]
roll_no = ['00cs10', '00cs13', '00cs17']

In [ ]:
#crearting zip object
mapp = zip(roll_no, name, marks)
print(mapp)

<zip object at 0x7f3b9c9f1bc8>

**Note: We will get list containing tuples**

In [ ]:
#converting into list makes use of it
mapping = list(mapp)
print(mapping)

[('00cs10', 'aakash', 92), ('00cs13', 'raju', 89), ('00cs17', 'madhav', 91)]

In [ ]:
for r,n,m in zip(roll_no,name,marks):
    print("Roll_no- {} : Name - {} : Marks- {} ".format(r,n,m))

Roll_no- 00cs10 : Name - aakash : Marks- 92
Roll_no- 00cs13 : Name - raju : Marks- 89
Roll_no- 00cs17 : Name - madhav : Marks- 91

### Unzipping
* return tuples object

In [ ]:
roll_, name_,marks_ = zip(mapping)
print(roll_)
print(name_)
print(marks_)

(('00cs10', 'aakash', 92),)
(('00cs13', 'raju', 89),)
(('00cs17', 'madhav', 91),)

In [ ]:
#Practicle Example of ZIP
#CODE:

teamName = ['MI', 'RCB', 'CSK',' HYD']
scorePoint = [43, 41, 46, 49]
rate = [1.231, 1.001, 2.789, 2.781]

for i,j,k in zip(teamName, scorePoint, rate):
    print('TEAM:',i, 'SCORE:', j ,'RATE: ', k)

TEAM: MI SCORE: 43 RATE:  1.231
TEAM: RCB SCORE: 41 RATE:  1.001
TEAM: CSK SCORE: 46 RATE:  2.789
TEAM:  HYD SCORE: 49 RATE:  2.781

### Dictionary Comprehension

**unlike list, instead taking value only it takes key+value**

In [ ]:
cub={i: i**3 for i in range(2,11)}
cub

In [ ]:
d={'a':1, 'b':2, 'c':3, 'd': 4, 'e': 5, 'f': 6}
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
#complex Code
new_dic={}
for key,val in d.items():
  if val > 2:
    new_dic[key] = val ** 2
new_dic

{'c': 9, 'd': 16, 'e': 25, 'f': 36}

In [ ]:
#using dictionary comprehension avoiding many lines of code just like list comprehension
sq_dic=dict()
sq_dic={key:val ** 2 for key,val in d.items() if val > 2}
sq_dic

{'c': 9, 'd': 16, 'e': 25, 'f': 36}

In [ ]:
#more complex operartion
cube_dic=dict()
cube_dic={key+'c':val ** 3 for key,val in d.items() if val > 2}
cube_dic

{'cc': 27, 'dc': 64, 'ec': 125, 'fc': 216}

### Gives all methods related to dictionary

In [ ]:
print(dir(cube_dic))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

## Basic Functions in Python

### (1) Lambda Function :-

* ***no exlplicit return required***

In [ ]:
sqr=lambda k: k**2

In [ ]:
sqr(16)

256

In [ ]:
#Code:
#Finding greater number between two numbers

def greater(x,y):
     print(x) if x > y else print(y) 
greater(3,5)


#code(Lambda Function):
sml = lambda x,y: x if x < y else y 
sml(3,5)

5

3

### (2)Reduce Function :-

*  **signature of both map and reduce are same**
*  **reduce perform aggreagtion operation over a sequence or iterable object**

* ***aggregation function only required two arguments So reduce only work with two arguments***

In [ ]:
#code:
#Summing all elements of a list


from functools import reduce  
list1 = [1,2,3,4,5,6,7,8,9,10]
summ = reduce(lambda x,y : x + y, list1) 
print(summ)

55

In [ ]:
from functools import reduce
l=[1,2,3,4,5]
reduce(lambda x,y:x+y,l)

15

In [ ]:
def test(m,n):
  return m*n

#aggregation output for a single iterable list
reduce(test,l)

120

In [ ]:
max_find = lambda a,b: a if a>b else b
l=[10,2,3,4,5]
reduce(max_find,l)

10

In [ ]:
#or
reduce(lambda x,y: x if x < y else y , l)

2

### Filter Function :-

*  **Filter() function works on some condition and give you the required list object**
*  **Filter return true condition data value**
*  **filter and map both have same signature**

In [ ]:
#Code:
#getting odd values


odd = list(filter(lambda x: x % 2 != 0 ,list1)) 
odd

[1, 3, 5, 7, 9]

In [ ]:
def is_even(num):
  if num % 2 == 0:
    return True

print(l)
list(filter(is_even,l))

[10, 2, 3, 4, 5]

[10, 2, 4]

In [ ]:
list(filter(lambda num: num % 2 != 0, l))

[3, 5]

## iterator vs iterable
    * in iterable objects all values fed up with the memory 
    * but in iterator objects all values doesn't stored in the memory at the same time
    * list is iterable
    * generator function is used to create iterator

* **__iter__ or iter() is used to make iterable object into iterator**

### iter

In [ ]:
l.__iter__()

In [ ]:
obj=l.__iter__()

In [ ]:
for i in obj:
  print(i)

10
2
3
4
5

In [ ]:
#or
b=iter(l)

In [ ]:
for i in b:
  print(i)

10
2
3
4
5

In [ ]:
type(iter(l))

list_iterator

### Map Fuction :-

* **Map is commonly used with lambda function inorder to avoid manually or extra coding like looping and outside function kind of thing**

In [ ]:
#traditional looping

In [ ]:
def fahrenheit(T):
  return ((float(9)/5)*T + 32)

def celseuis(T):
  return ((float(5)/9)*(T-32))

In [ ]:
temp=[0,22,5,40,100]
a=[]
for i in temp:
  a.append(fahrenheit(i))

a

[32.0, 71.6, 41.0, 104.0, 212.0]

* **USE OF MAP ignoring loop**

In [ ]:
li_temp=list(map(fahrenheit,temp))

In [ ]:
li_temp

[32.0, 71.6, 41.0, 104.0, 212.0]

In [ ]:
list(map(celseuis,li_temp))

[0.0, 21.999999999999996, 5.0, 40.0, 100.0]

In [ ]:
#code:
#mapping each value of the list

Mul_list = list(map(lambda i : i * 2 ,list1))
print(Mul_list)

#or also do this by list comprehesion
lis_sqr=[i * 2 for i in list1] #but it includes looping
lis_sqr

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#traditional approach
l=["sudhanshu","Akshay","singh","kumar","avadhesh"]
k=[]
for i in l:
  k.append(i.upper())

k

['SUDHANSHU', 'AKSHAY', 'SINGH', 'KUMAR', 'AVADHESH']

In [ ]:
#map methods
def Upper(string):
  return string.upper()

list(map(Upper,l))

['SUDHANSHU', 'AKSHAY', 'SINGH', 'KUMAR', 'AVADHESH']

In [ ]:
#or much more handy with lambda
list(map(lambda a: a.upper() ,l))

['SUDHANSHU', 'AKSHAY', 'SINGH', 'KUMAR', 'AVADHESH']

**NOTE:Lamda Function adavanatge is that, we don't need to create an outside function**

In [ ]:
#best example
#map with lambda with two arguments i.e we need two list
a=[1,2,3,4]
b=[5,6,7,8]

list(map(lambda x,y: x+y,a,b))

[6, 8, 10, 12]

In [ ]:
#Map is now much more handy rather than list comrehension and without saparatte function with the power of lambda 
c=[7,8,9,3]
list(map(lambda x,y,z:x+y+z,a,b,c))

[13, 16, 19, 15]

In [ ]:
def test(m,n):
  return m+n

list(map(test,a,b))

[6, 8, 10, 12]

#### NOTE: lambda provide more flexibility; map always perform row wise operation on list

In [ ]:
a=map(test,a,b)

In [ ]:
next(a)

8

In [ ]:
next(a)

6

## Function Agrguments:

In [ ]:
#arbitary argument(varArgs)
def great(*args):
  print(args)
  print(type(args))#very important
  
  for i in args:
    print(i,end=" ")

great("Akshay","Singh",'is ','very','imotional')

('Akshay', 'Singh', 'is ', 'very', 'imotional')
<class 'tuple'>
Akshay Singh is  very imotional

In [ ]:
#default Argument
def great(name,msg="Good morning"):

    print("Hello {0}, {1} ".format(name,msg))

great("Akshay","Goodnight")
great("manu")

Hello Akshay, Goodnight
Hello manu, Good morning

In [ ]:
#key words arguments(Most Popular)
#**kwargs is dictionary
def great(**kwargs):
    print(kwargs)
    print("hello {0} , {1}".format(kwargs['name'],kwargs['msg']))

  
great(name="Akshay", msg="Good Morning")

{'name': 'Akshay', 'msg': 'Good Morning'}
hello Akshay , Good Morning

### Example

In [ ]:
#less efficient
def add_N(*var_args):
    summ = 0 
    for i in var_args:
        summ += i
    print('the sum is',summ)
    
add_N(1,2,3,4,5)   


#second method(more efficient)

def add_N(*var_args):
    print("type of variable length argument: ", type(var_args))
    print(sum(var_args))
    
    
add_N(1,2,3,4,5)

the sum is 15
type of variable length argument:  <class 'tuple'>
15

### Airthmatic Basic Function:-

### round

In [ ]:
print(round(3.567))
print(round(3.56751,3))
print(round(3.467))

4
3.568
3

### pow

In [ ]:
print(pow(2,3))
print(pow(2,3,3)) #(remainder) 2^3 % 3 ==> 2

8
2

### divmod

In [ ]:
div_mod=divmod(11,3) # return (Quoitient , remainder)
print(div_mod)
print(div_mod[0])
print(div_mod[1])

(3, 2)
3
2

### range

In [ ]:
for i in range(3):# default start from 0
    print(i, end=" ")
print('\n')

for k in range(2,6): # 2 is inclusive and 6 is exclusive
    print(k, end=" ")
print('\n')

for l in range(1,10,2): #2 is step size
    print(l, end=" ")

0 1 2

2 3 4 5

1 3 5 7 9

### complex and abs

In [ ]:
comp = complex('4+3j')
print(abs(comp))
print(abs(-1000))

5.0
1000

### floor Division

In [ ]:
print(1/2)
print(3//2)
print(2.0/2)
print(2.0//2)
print(2//2)

0.5
1
1.0
1.0
1

### Taking Multiple input at a time :-
* Using split() method
* Using List comprehension

### Method 1 split

In [ ]:
x,y,z = input().split()

1 2 4

In [ ]:
print(x,y,z)

1 2 4

In [ ]:
k = list(map(int, input().split()))

1 2 3 4 5 6 7 8

In [ ]:
k

[1, 2, 3, 4, 5, 6, 7, 8]

### Method 2 list comprehension

In [ ]:
y = [int(x) for x in input("Enter multiple value: ").split()]

Enter multiple value: 7 8 9 12

In [ ]:
print(y)

[7, 8, 9, 12]

### retrun multiple value

In [ ]:
def test(name):
  return  name*3 , name*2


a,b=test("Aks")
print(a,b)

AksAksAks AksAks

In [ ]:
def test1(k):
  return k+2,k**3


a,_=test1(2)
a

4

In [ ]:
def test():
  return [1,2,3,4], {'A':'Akshay','B':'Singh'}


_,dic=test()
dic

{'A': 'Akshay', 'B': 'Singh'}

### C like Approach

In [ ]:
def greeting(name):
  print('Hello %s !' %name)

greeting("Akshay Singh")

Hello Akshay Singh !

### Basic For Else Loop

In [ ]:
for i in [1,2,'Aks',3,4,5,6]:
  if type(i) == str:
    break
  print(i,end=" ")
else:
  print('\nItems Exausted')
print('\nEnd of Program\n\n')

#and

for i in [1,2,'Aks',3,4,5,6]:
  if type(i) == int :
      print(i,end=" ")
else:
  print('\nItems Exausted')
print('\nEnd of Program')

#NOTE: else only executed when for loop never interrupted

1 2
End of Program


1 2 3 4 5 6
Items Exausted

End of Program

### iterator vs iterable vs generator

* NOTE: 'str' object is not an iterator

* string is iterable not iterator so we have to use iter to make it iterator

* but int is not an iterable

* NOTE: for loop is only able to iterate the iterable objects because internally iter() function make it iterator

* range(0,num) is also not iterator its only iterable object

**next and iter() working into the backend of for loop to make iterable object into iterator**

Doubt1 : partition 
    sent="Deep learning is the future"
sent.partition('i')

In [ ]:
#string object is not iterator
next("Akshay Singh")

TypeError: 'str' object is not an iterator

In [ ]:
a=iter("Akshay")
next(a)

'A'

In [ ]:
next(a)

's'

In [ ]:
a=iter(5)

TypeError: 'int' object is not iterable

****NOTE: Make Sure in order to make anything object iterator first it should be iterable****

In [ ]:
lis=iter("Akshay")
for i in range(len("Akshay")):
  print(next(lis))

A
k
s
h
a
y

In [ ]:
a=range(0,4)
a

range(0, 4)

In [ ]:
next(a)

TypeError: 'range' object is not an iterator

In [ ]:
itr=iter(range(0,4))
print(type(itr))
for i in itr:
  print(i)

0
1
2
3

#### NOTE: making generator object using yield

In [1]:
#generator
def genCube(n):
  for x in range(n):
    yield x**3

#yield is used to generator type of object when we dont wnat to allocate memory at the same time

In [2]:
def test_gen():
  for i in range(3):
    yield i**2

In [3]:
gen=test_gen()
type(gen)

generator

In [4]:
print(gen)

<generator object test_gen at 0x7f66383e4570>

In [5]:
for i in gen:
  print(i)

0
1
4

### Swapping

In [ ]:
a,b,c,numbers=5,6,7,[1,2,3,3]
print(a)
print(b)
print(c)
print(numbers)

5
6
7
[1, 2, 3, 3]

In [6]:
def genFibonacci(n):
  a=1
  b=1
  for i in range(n):
    yield a
    a,b=b,a+b

In [7]:
for i in genFibonacci(8):
  print(i)

1
1
2
3
5
8
13
21

### formatted String like positional parameter :-

In [8]:
#positional 
#and keyword argument (we need to pass key + value in the function in case of kwargs)
def greeting(name,age):
  print('my name is {} and my age is {}'.format(name,age))

In [9]:
greeting("Akshay",22)

my name is Akshay and my age is 22

In [15]:
#positional 
#and keyword argument (we need to pass key + value in the function in case of kwargs)
def greeting(name,age=20):
  print(f'my name is {name} and my age is {age}')

In [16]:
greeting('abcd',27)

my name is abcd and my age is 27

In [ ]:
#more on *args and **kwargs

In [12]:
def greetings(*args,**kwargs):
  print(args)
  print(kwargs)

In [ ]:
greetings("abcd","kummar",age=20,dob=1990)

('abcd', 'kummar')
{'age': 20, 'dob': 1990}

### OOPs Concept

In [17]:
#bad practice style of creation of objects
class Person:
  pass
sudh_joe=Person()
sudh_joe.name="sudh"
sudh_joe.surname='kumar'
sudh_joe.year_of_bearth=1998

aks=Person()
aks.name="Akash"
aks.surname="Verma"
aks.yob=2012
aks.age=8


print(sudh_joe)
print("%s %s was born in %d." %(sudh_joe.name,sudh_joe.surname,sudh_joe.year_of_bearth) )

<__main__.Person object at 0x7f6637b49ba8>
sudh kumar was born in 1998.

In [19]:
#good style of creating the objects of a class
class Person:
  def __init__(a,name,surname,year):
    a.name=name
    a.sur=surname
    a.year=year

  def age(a, current_year):
    return current_year-a.year
  
  def UPPER_String(a):
    return a.name.upper()
  def __str__(a):
    return "%s %s was born in %d." % (a.name,a.sur,a.year)
  

alex=Person('Alex',"jattinx",1958)
print(alex)
print(alex.age(2020))  
print(alex.UPPER_String())
print(alex.__dict__)

Alex jattinx was born in 1958.
62
ALEX
{'name': 'Alex', 'sur': 'jattinx', 'year': 1958}

**Protect your abstraction**
* _(single) : protected
* __(private): private
* everything else is public

In [20]:
class Person:
  def __init__(self,name,surname,year):
    self._name=name
    self._sur=surname
    self._year=year

  def age(self, current_year):
    return current_year-self._year
  
  def UPPER_String(self):
    return a.name.upper()
  def __str__(self):
    return "%s %s was born in %d." % (self._name,self._sur,self._year)
  

alex=Person('Alex','vateran',1994)
print(alex)
print(alex._name)
alex.__dict__ # check how they store in memory

Alex vateran was born in 1994.
Alex

{'_name': 'Alex', '_sur': 'vateran', '_year': 1994}

In [21]:
class Person:
  def __init__(self,name,surname,year):
    self.__name=name
    self.__sur=surname
    self.__year=year

  def age(self, current_year):
    return current_year-self.__year
  
  def __str__(self):
    return "%s %s was born in %d." % (self.__name,self.__sur,self.__year)


alex=Person('Alex','vateran',1994)
print(alex)
#print(alex.__name)
alex.__dict__ # check how they store in memory

Alex vateran was born in 1994.

{'_Person__name': 'Alex', '_Person__sur': 'vateran', '_Person__year': 1994}

***In terms of some notation we will be able do abstraction in python.***

**Inheritence**

In [ ]:
class Student(Person):
  def __init__(self,stu_id,*args):
    super(Student,self).__init__(*args)
    self.stu_id=stu_id

charlie=Student(101,'aks','kumar',1960)
print(charlie.stu_id)
print(type(charlie))
print(isinstance(charlie,Person))
print(isinstance(charlie,object))
print(charlie.name)
print(charlie.age(2014))
print(charlie.stu_id)
print(charlie.UPPER_String())
print(charlie.sur)
print(charlie.__dict__)

101
<class '__main__.Student'>
True
True
aks
54
101
AKS
kumar
{'name': 'aks', 'sur': 'kumar', 'year': 1960, 'stu_id': 101}

In [ ]:
#multiplie inheritance
class A:
  def __init__(self,x,y):
    self.x=x
    self.y=y

  def test(self):
    print("class A method")
  

class B:
  def __init__(self,a,b):
    self.a=a
    self.b=b

  def test(self):
    print("class B method")

class C(A,B):
  
  obja=A("ajs",21)
  objb=B("awd",20)
  obja.test()
  objb.test()

class A method
class B method

In [ ]:
#method overriding
class Student(Person):
  def __init__(self,stu_id,*args):
    super(Student,self).__init__(*args)
    self.stu_id=stu_id
  
  def __str__(self):
    return super(Student,self).__str__()+"and has is is %d" % self.stu_id


charlie=Student(101,'aks','kumar',1960)
print(charlie)
print(charlie.__dict__)

aks kumar was born in 1960.and has is is 101
{'name': 'aks', 'sur': 'kumar', 'year': 1960, 'stu_id': 101}

* Encapsulation: Hiding the actual implementation black box for a method just know the use of it, thats it!

* So encapsulation also a kind of reusability concept

* 1.Composite Encapsulation we just use those methods or classes which is developed by someone by assuming faith of them

In [ ]:
class Tyres:
    def __init__(self, branch, belted_bias, opt_pressure):
        self.branch = branch
        self.belted_bias = belted_bias
        self.opt_pressure = opt_pressure
        
    def __str__(self):
        return ("Tyres: \n \tBranch: " + self.branch +
               "\n \tBelted-bias: " + str(self.belted_bias) + 
               "\n \tOptimal pressure: " + str(self.opt_pressure))
        
class Engine:
    def __init__(self, fuel_type, noise_level):
        self.fuel_type = fuel_type
        self.noise_level = noise_level
        
    def __str__(self):
        return ("Engine: \n \tFuel type: " + self.fuel_type +
                "\n \tNoise level:" + str(self.noise_level))
        
class Body:
    def __init__(self, size):
        self.size = size
        
    def __str__(self):
        return "Body:\n \tSize: " + self.size
        
class Car:
    def __init__(self, tyres, engine, body):
        self.tyres = tyres
        self.engine = engine
        self.body = body
        
    def __str__(self):
        return str(self.tyres) + "\n" + str(self.engine) + "\n" + str(self.body)

        
t = Tyres('Pirelli', True, 2.0)
e = Engine('Diesel', 3)
b = Body('Medium')
c = Car(t, e, b)
print(c)

Tyres:
 	Branch: Pirelli
 	Belted-bias: True
 	Optimal pressure: 2.0
Engine:
 	Fuel type: Diesel
 	Noise level:3
Body:
 	Size: Medium

In [ ]:
#Dynamic Extension:
class Dog:
  def __init__(self,name,year,breed):
    self.name=name
    self.year_of_birth=year
    self.breed=breed

  def __str__(self):
    return "%s is a %s born in %d." % (self.name,self.breed,self.year_of_birth)

kud=Dog("Kudarvajka",2002,"pitbull")
print(kud)

Kudarvajka is a pitbull born in 2002.

In [ ]:
class Student:
  def __init__(self,anagraphic,stu_id):
    self.anagraphic=anagraphic
    self.stu_id=stu_id

  def __str__(self):
    return str(self.anagraphic) + " Student id: %d" % self.stu_id


alex_student=Student("aks",101)
kud_stu= Student(kud,102)

print(alex_student)
print(kud_stu)

aks Student id: 101
Kudarvajka is a pitbull born in 2002. Student id: 102

#### Polymorphism and Duck Typing

In [ ]:
def test_poly(a,b):
  return a + b

print(test_poly(2,7))
print(test_poly('Aks','kumar'))
print(test_poly([2,3,4,5],[-1,-2]))

9
Akskumar
[2, 3, 4, 5, -1, -2]

## Exception Handling

In [ ]:
f=open('trgyyec.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'trgyyec.txt'

* **we need to handle it**

In [ ]:
try:
  f=open('test.txt')
  print(f.read())

except IOError:
  print('file not found')

else:
  print('content written successfully')
  f.close()

this is good initiative
content written successfully

In [ ]:
try:
  f=open('test.txt','w') #permission with write
  print(f.write("not go fast"))

except IOError:
  print('file not found')

else:
  print('content written successfully')
  f.close()

11
content written successfully

* **else only executed when try successfully executed just like for-else statement**

* **Use of except: also work when we dont know about exception**

In [ ]:
def test():
  try:
    val=int(input("enter integer"))
  except:
    print("looks like you didn't input integer")
  else:
    print("successfully executed")
  finally:
    print('i am finally, closed all the resources')
  try:
    print("value:",val)
  except:
    print('not consist value')

* **Compare both the below output**

In [ ]:
test()

enter integerdhi3
looks like you didn't input integer
i am finally, closed all the resources
not consist value

In [ ]:
test()

enter integer45
successfully executed
i am finally, closed all the resources
value: 45

In [ ]:
#best example
def test1():
  while True:
      try:
        val=int(input("enter integer: "))
      except:
        print("looks like you didn't input integer, please enter correct input again")
        continue
      else:
        print('yep,  we got an integer')
        break
      finally:
        print('i am finally, and closed all resources')

In [ ]:
test1()

enter integer: udhie
looks like you didn't input integer, please enter correct input again
i am finally, and closed all resources
enter integer: etygr
looks like you didn't input integer, please enter correct input again
i am finally, and closed all resources
enter integer: 23
yep,  we got an integer
i am finally, and closed all resources

In [ ]:
#another best example like tossing game chances
def test2():
  count=5
  while count >= 1:
      try:
        val=int(input("enter integer: "))
      except:
         count -= 1
         print("looks like you didn't input integer, please enter correct input again, you have left with ",count,"chances now")
         continue
      else:
        print('yep,  we got an integer')
        break
      finally:
        print('i am finally, and closed all resources')
  if(count==0):
    print('all chances gone, please try aftersome time')

In [ ]:
test2()

enter integer: budhie
looks like you didn't input integer, please enter correct input again, you have left with  4 chances now
i am finally, and closed all resources
enter integer: dbi3jee
looks like you didn't input integer, please enter correct input again, you have left with  3 chances now
i am finally, and closed all resources
enter integer: 21
yep,  we got an integer
i am finally, and closed all resources

* **Use except only when doesn't know about specific error, then use only at the end of all except blocks**

In [ ]:
#multiple except through one try
def Example():
  try:
    val=int(input("enter integer"))
  except ValueError:
    print('Value Error')
  except:
    print("looks like you didn't input integer")
  else:
    print("successfully executed")
  finally:
    print('i am finally, closed all the resources')
  try:
    print("value:",val)
  except:
    print('not consist value')

    
Example()

enter integervygw
Value Error
i am finally, closed all the resources
not consist value

In [ ]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            try:
                val = int(input("Try again-Please enter an integer: "))
                print("your entered value: ",val)
            except:
                print("handle it: ")
        finally:
            print("Finally, I executed!")

In [ ]:
askint()

Please enter an integer: huirurhr
Looks like you did not enter an integer!
Try again-Please enter an integer: 45
your entered value:  45
Finally, I executed!

## raise exception

In [ ]:
try:
    num = int(input("Enter a positive integer:"))
    if num <= 0:
        raise ValueError("Error Oops!: Entered negative number")
except ValueError as e:
    print(e)

Enter a positive integer:-8
Error Oops!: Entered negative number

## File Handling Concept

* 1.Creating File* 
* 2.read() 
* 3.readlines() 
* 4.seek() 
* 5.WRITE| 
* 6.open(parameters) 
* 7.write() 
* 8.Iteration Over the File |StringIO|
* 9.close()
* 10.tell() return current position of file pointer

**File magic function in order to crete a file**

### creating file

In [ ]:
%%writefile test.txt
Hello, this is a quick test file,akshay leading file

Writing test.txt

In [ ]:
pwd()

'/Users/akshaysingh/Desktop/Machine Learning/Python_Revision'

### open file

In [ ]:
my_file=open('test.txt')

In [ ]:
my_file

### read file

In [ ]:
my_file.read()

'Hello, this is a quick test file,akshay leading file\n'

In [ ]:
my_file.read()

''

### moving cursor in order to read a file

In [ ]:
my_file.seek(12)

12

In [ ]:
my_file.read()

'is a quick test file,akshay leading file\n'

In [ ]:
#read() method with arguments
my_file.read(4)

In [ ]:
#return current position of pointer 
f.tell()

In [ ]:
my_file.seek(0)

0

#### readlines() method returning a list of file content

In [ ]:
my_file.readlines()

['Hello, this is a quick test file,akshay leading file\n']

### 2nd argument in open function(file permission)

In [ ]:
myfile=open('test.txt','w+')

In [ ]:
myfile.write("this is good initiative")

23

In [ ]:
myfile.seek(0)

0

In [ ]:
myfile.read()

'this is good initiative'

In [ ]:
%%writefile temp.txt
firstl line
second line
third line

Writing temp.txt

In [ ]:
ob_file=open('temp.txt')

In [ ]:
ob_file.read()

'firstl line\nsecond line\nthird line\n'

In [ ]:
ob_file.seek(0)

0

In [ ]:
ob_file.readlines()

['firstl line\n', 'second line\n', 'third line\n']

In [ ]:
lineList=[]
for line in open('temp.txt'):
  lineList.append(line)

lineList

['firstl line\n', 'second line\n', 'third line\n']

## os module

* **os module in Python which brings the support of file rename/delete operations.**

* **Specific methods:**
    * os.rename()
    * os.remove()
    * os.getcwd()
    * os.listdir()
    * os.mkdir()
    * os.rmdir()

In [ ]:
#reame operation
os.rename("test.txt", "sample.txt")

In [ ]:
#Delete a file sample.txt
os.remove("sample.txt")

In [ ]:
#List Directories and Files in current working directory
os.listdir(os.getcwd())

In [ ]:
#Making New Directory
os.mkdir('test')

In [ ]:
#However, note that rmdir() method can only remove empty directories.
os.rmdir('test')

### stringIO by which string treated as file

In [ ]:
from io import StringIO

In [ ]:
msg="file handling concept in pyhton"

In [ ]:
#Now we have an object f that we will be able to treat just like a file. For example:
f = StringIO(msg)

In [ ]:
f.read()

'file handling concept in pyhton'

In [ ]:
f.write(" Learn Conceptually")

19

In [ ]:
f.seek(0)

0

In [ ]:
f.read()

'file handling concept in pyhton Learn Conceptually'

In [ ]:
pwd()

'/Users/akshaysingh/Desktop/Machine Learning/Python_Revision'

## Database connectivity and operations using Python.

In [ ]:
import sqlite3 as sql

##### this will create a database on memory

In [ ]:
#create database
db=sql.connect("myDatabase.db")
#create table on database
db.execute("create table grades1(id int,name txt,score int)")
#insert values into table grades1
db.execute("insert into grades1(id, name, score) values (101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values (102, 'gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [ ]:
#save database
db.commit()

#### fetching value from database

In [ ]:
results= db.execute("select *from grades1 order by id")
for rows in results:
    print(rows)
print("-" * 80)

(101, 'John', 99)
(102, 'gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
--------------------------------------------------------------------------------

In [ ]:
results= db.execute("select *from grades1 order by score")
for rows in results:
    print(rows)
print("-" * 80)

(103, 'James', 80)
(104, 'Cathy', 85)
(102, 'gary', 90)
(105, 'Kris', 95)
(101, 'John', 99)
--------------------------------------------------------------------------------

In [ ]:
results= db.execute("select *from grades1 order by name")
for rows in results:
    print(rows)
print("-" * 80)

(104, 'Cathy', 85)
(103, 'James', 80)
(101, 'John', 99)
(105, 'Kris', 95)
(102, 'gary', 90)
--------------------------------------------------------------------------------

In [ ]:
results= db.execute("select *from grades1 where score >= 90")
for rows in results:
    print(rows)
print("-" * 80)

(101, 'John', 99)
(102, 'gary', 90)
(105, 'Kris', 95)
--------------------------------------------------------------------------------

In [ ]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 80 )

('John', 99)
('Kris', 95)
('gary', 90)
('Cathy', 85)
('James', 80)
--------------------------------------------------------------------------------

In [ ]:
pwd()

'/Users/akshaysingh/Desktop/Machine Learning/Python_Revision'

## Modules and Packages

* **Modules in Python are simply Python files with the .py extension, which implement a set of functions. Modules are imported from other modules using the import command.**

In [ ]:
# import the library
import math

In [ ]:
# use it (ceiling rounding)
print(math.ceil(2.4))
print(math.floor(23.56))
print(math.sqrt(16))
print(round(math.log2(34),4))

3
23
4.0
5.0875

### Exploring built-in modules

In [ ]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

**While exploring modules in Python, two important functions come in handy - the dir and help functions and shift + Tab also very handy**

In [ ]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

### Writing modules

* **Writing Python modules is very simple. To create a module of your own, simply create a new .py file with the module name, and then import it**

### Writing packages

* **Packages are name-spaces which contain multiple packages and modules themselves. They are simply directories, but with a twist.**

***The twist is, each package in Python is a directory which MUST contain a special file called _init_.py. This file can be empty, and it indicates that the directory it contains is a Python package, so it can be imported the same way a module can be imported.***

* **for example, If we create a directory called foo, which marks the package name, we can then create a module inside that package called bar. We also must not forget to add the _init_.py file inside the foo directory.**

***To use the module bar, we can import it in two ways:***

* **NOTE: what should be in init.py module in side package(folder)**
    * NOTE this module can either empty or may be contain some initialization code itself 
    * example by which we can access or import a module from inside some nested packages

<img src="PackageModuleStructure.jpg">

* ***Example in order to access open module:***
    * import Game.Image.open

### Importing Modules
* **import all from a module**
    * from math import *
* **import only module**
    * import module_name
* **import specific method from module**
    * From math import sqrt

### getting name of all methods inside a module  -->  dir(module_name)

In [ ]:
# Just an example, this won't work
import foo.bar

In [ ]:
# OR could do it this way
from foo import bar

**The _init_.py file can also decide which modules the package exports as the API, while keeping other modules internal, by overriding the _all_ variable, like so:**

In [ ]:
__init__.py:

__all__ = ["bar"]

In [ ]:
pwd()

'/Users/akshaysingh/Desktop/Machine Learning/Python_Revision'

## Pyhton Debugger(PDB)

* PDB pdb implements an interactive debugging environment for Python programs.It includes features to let you pause your program, look at the values of variables, and watch program execution step-by-step, so you can understand what your program actually does and find bugs in the logic.

* ***mainly use features to keep track of logic bug***    
    * c : continue
    * q: quit(left some error)
    * h: help(give you all option needed with pdb)
    *  list
    * p: print
    * p locals()
    * p globals()

In [ ]:
def test_pdb(num):
  for i in range(num):
     pdb.set_trace() # breakpoint
     print(i)

test_pdb(5)

> <ipython-input-5-dd130199fde2>(4)test_pdb()
-> print(i)
(Pdb) c
0
> <ipython-input-5-dd130199fde2>(3)test_pdb()
-> pdb.set_trace() # breakpoint
(Pdb) p locals()
{'num': 5, 'i': 1}
(Pdb) c
1
> <ipython-input-5-dd130199fde2>(4)test_pdb()
-> print(i)
(Pdb) p locals()
{'num': 5, 'i': 2}
(Pdb) h

Documented commands (type help <topic>):
========================================
EOF    c          d        h         list      q        rv       undisplay
a      cl         debug    help      ll        quit     s        unt
alias  clear      disable  ignore    longlist  r        source   until
args   commands   display  interact  n         restart  step     up
b      condition  down     j         next      return   tbreak   w
break  cont       enable   jump      p         retval   u        whatis
bt     continue   exit     l         pp        run      unalias  where

Miscellaneous help topics:
==========================
exec  pdb

(Pdb) c
2
> <ipython-input-5-dd130199fde2>(3)test_pdb()
-> pdb.set_trace() # breakpoint
(Pdb) c
3
> <ipython-input-5-dd130199fde2>(4)test_pdb()
-> print(i)
(Pdb) p locals()
{'num': 5, 'i': 4}
(Pdb) c
4

In [ ]:
import pandas as pd
df = pd.DataFrame({'key1': [1,2],'key2': ['a','b'], 'key3': ['fugrr','dfwy']})
df

   key1 key2   key3
0     1    a  fugrr
1     2    b   dfwy

In [ ]:
df=None

In [ ]:
df.head()

AttributeError: 'NoneType' object has no attribute 'head'